

* {
  box-sizing: border-box;
}
body {
    background-color: f3f3f3;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    box-shadow: 4px 4px 5px 0px rgba(50, 50, 50, 0.75);
    line-height: 1.6;
}
h1 {
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: black;
  }

h2 {
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: black;
}

h3 {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: black; }

   .button:hover, button:focus
   {
    cursor: pointer;
    opacity: 0.8;
    background-color: #F3F3F3
  }

   .button-secondary {
      color: #23F565 !important;
      text-decoration: none;
      padding: 10px;
      border-color: #000000;
      border-radius: 3px;
      border-bottom: none;
      transition: 0.2s opacity;
    }


img { 
  width:%100
   }
    nav{
      float: right;
      margin-top:18px; 
    
    
    a {
      color: black;
    }
  
  .logo {
    max-width: 40px;
    }
.logo {
    display: inline-block;
    max-width: 250px;
    padding-top: 0;
    font-size: 1.35em;
  }

  .navtoggle {
    padding: 0 15px;
  }

  nav {
    width: auto;
    float: right;
    padding-top: 4px;
  }

  nav > ul {
    margin: 1em 0;
  }

  .navigation {
    margin: 0;
  }

  nav > ul > li {
    display: inline-block;
    padding-left: 10px;
  }

  nav > ul > li > a {
    padding: 4px 15px;
    font-size: 1.15em;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  main {
    padding-top: 80px;
  }

  .col-md-6 {
    width: 50%;
  }

  #work .col-lg-5 {
    padding-top: 5px;
  }

  .col-md-5 {
    width: 41.66%;
  }

  .col-md-7 {
    width: 58.33%;
  }

  [class*="col-"] {
    float: left;
    padding: 10px 15px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .row h3 {
    margin: 0;
  }

  #contact,
  .container {
    clear: both;
  }

  #contact p {
    text-align: center;
  }

  #contact h2 {
    padding-top: 60px;
  }

  #button-top {
    width: 50px;
    height: 50px;
    bottom: 30px;
    right: 30px;
  }

  /* Home page */
  #hero {
    padding: 25px 0 50px;
  }

  #hero h1 {
    padding: 0 20px 20px;
  }

  #hero p {
    padding: 0 20px;
  }

  /* About page */
  #background {
    padding: 25px 15px 30px;
  }

  #about h1 {
    margin-top: 40px;
  }

  #aboutme img {
    padding: 20px 120px;
  }

  #skillstools [class*="col-"] {
    padding-bottom: 50px;
  }

  #skillstools h3 {
    margin-top: 0;
  }

  /* Project page */
  #volunteerexperiences .container,
  #lingo .container,
  #portfolio .container {
    padding: 0 30px 30px;
  }

  #portfolio-project-picture h1 {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
      
      
      
    /* Medium devices (640px and larger) */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 25px 0;
  }

  
