* {
  box-sizing: border-box;
}

body {
  background-color: #f3f3f3;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #000;
  font-weight: 400;
  line-height: 1.6;
}

h1 {
  font-size: 30px;
  font-weight: 800;
}

h2 {
  font-size: 15px;
  font-weight: 800;
}

h3 {
  font-size: 20px;
  font-weight: 400;
}

.button:hover, button:focus {
  opacity: 0.8;
color: #F3F3F3;
}

.button {
  background-color: #ff0044;
  color: #23F565 !important;
  text-decoration: none;
  padding: 10px;
  border-color: #000000;
  border-radius: 3px;
  border-bottom: none;
  transition: 0.2s opacity;
}

img {
  width: 100%;
}

nav {
  float: right;
  margin-top: 18px;
}
  a {
    color: #000000;
  }

  .logo {
    display: inline-block;
    max-width: 40px;
  }

  nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  nav ul li {
    float: left;
    margin-left: 25px;
  }

  nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
  }

  main {
    padding-top: 80px;
  }

  #contact p {
    text-align: center;
  }

  #contact h2 {
    padding-top: 60px;
  }

  #button-top {
    width: 50px;
    height: 50px;
    bottom: 30px;
    right: 30px;
  }

  /* Home page */
  #hero {
    padding: 25px 0 50px;
  }

  #hero h1 {
    padding: 0 20px 20px;
  }

  #hero p {
    padding: 0 20px;
  }

  .container {
    max-width: 1200px;
    padding: 0 15px;
  }

  header {
    background-color: #ff0044;
    padding: 10px 0;
    position: fixed;
    width: 100%;
  }

  /* ==========
  Responsive menuToggle
  ============= */
  nav > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  nav > ul > li > a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffffff;
  }

  .navtoggle li:not(:last-child) {
    display: none;
  }

  .navtoggle, .navtoggle.responsive {
    position: relative;
  }

  .navtoggle li .icon {
    position: absolute;
    right: 0;
    top: 14px;
    font-size: 24px;
    padding-right: 0;
  }

  .navtoggle.responsive nav {
    padding: 24px 0 0;
  }

  .navtoggle.responsive li  {
    display: block;
    padding: 10px 0;
    border-top: 1px solid rgba(255,127,80,0.5);
    width: 80%;
    }

  .navtoggle.responsive li:last-child  {
    padding: 0 0 10px;
  }

  /* Medium devices (640px and larger) */
  @media only screen and (min-width: 640px) {

  /*==========
  change menu on larger screens
  ===========*/

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  .navtoggle.responsive nav {
    padding: 0;
  }

  .navtoggle.responsive li  {
    padding: 0;
    border-top: none;
    }

  nav > ul {
  margin: 1em 0;
  }

  nav {
    margin-top: 8px;
  }

    .container {
      margin: 0 auto;
    }

    .col-md-6 {
      width: 50%;
    }

    #work .col-lg-5 {
      padding-top: 5px;
    }

    .col-md-5 {
      width: 41.66%;
    }

    .col-md-7 {
      width: 58.33%;
    }

    [class*="col-"] {
      float: left;
      padding: 10px 15px;
    }

    .row::after {
      content: "";
      clear: both;
      display: table;
    }

    .row h3 {
      margin: 0;
    }
  }
